.projectCards {
  .container {
    .row {
      .case-hero-container {
        .case-hero-image {
          cursor: pointer;
          overflow: hidden;
          margin-bottom: 15px;
          width: 1496px;
          height: 550px;
        }
        .case-hero-details {
          margin-bottom: 100px;
        }
      }

      .case-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include media('<=tablet') {
          flex-direction: column;
          justify-content: center;
        }
        .case {
          .case-image {
            cursor: pointer;
            overflow: hidden;
            margin-bottom: 15px;
            width: 729px;
            height: 530px;
          }
          .case-details {
            margin-bottom: 100px;
          }
        }
      }

      h2 {
        margin: 0;
        color: $black;
        font-weight: 700;
        font-size: 1.65rem;
      }
      span {
        color: $sub-black;
        font-size: 1.25rem;
      }
      Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
