@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import "variables";
@import "breakpoints";
@import './components/banner.scss';
@import './components/header.scss';
@import './components/projectCards.scss';
@import './components/contact.scss';


html, body {
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;
  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }
  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }
  @include media("<=1080") {
    width: 100%;
    min-width: 100%;
  }

  .row {
    height: 100%;
    padding: 0 32px;
    @include media('<=phone') {
      padding: 0 16px;
    }
  }
  .space-between {
    justify-content: space-between;
  }
}


